#![enable(implicit_some)]

AnalysisConfig(
  meta: (
    variant_name: "Elona+",
    version: "2.25",
    ax_sha256: "0dfdc8d0dabdbf504d756b0837329a8aff75a888a2c063311e5cfc3b24590755"
  ),

  includes: [
    "database/plus2.24.ron"
  ],
  
  variable_groups: {

    "chara_id": (
      variables: [
        ( name: "CREATURE_ID_KAMIKAKUSHI_THE_HIDDEN_SHIKIORIGAMI", value: 1124 ),
        
        ( name: "MAX_CREATURE_ID", value: 1127, code_value: "CREATURE_ID_KAMIKAKUSHI_THE_HIDDEN_SHIKIORIGAMI + 3" ),
      ]
    ),

    "chara_bit": (
      variables: [
        ( name: "CHARA_BIT_SEALED_MAGIC", value: 1046, override: true ),
        ( name: "CHARA_BIT_SEALED_ABILITY", value: 1047, override: true ),
      ]
    ),

    "item_id": (
      variables: [
        ( name: "ITEM_ID_HIDEN_MASHI", value: 1301 ),

        ( name: "MAX_ITEM_ID", value: 1304, code_value: "ITEM_ID_HIDEN_MASHI + 3", exclude: true ),
      ],
    ),

    "item_effect": (
      variables: [
        ( name: "EFFECT_HIDEN_MASHI", value: 149 ),
      ]
    ),
    
    
    "skill_spact": (
      variables: [
        ( name: "SKILL_SPACT_KAMIKAKUSHI", value: 866, override: true ),
        ( name: "SKILL_SPACT_HIP_ATTACK", value: 867, override: true ),

        ( name: "MAX_SKILL", value: 868, code_value: "SKILL_SPACT_HIP_ATTACK + 1" ),
      ]
    ),

    "animation_id": (
      variables: [
        ( name: "ANIMATION_SHIKIKAMI_BREATH", value: 65 ),
      ]
    ),

    "mdata": (
      variables: [
        ( name: "MDATA_WEREWOLF_PROGRESS", value: 34 ),
      ]
    ),
  },
    
  functions: {
  },

  labels: {

    // These 2 entries are from previous databases, override previous labels
    "*db_creature_SAIKYO_NEZUMI": ( after: "*db_creature", loop_kind: SwitchEnd ),
    "*db_creature_ULTIMATE_EXPERIMENTAL": ( after: "*db_creature_SAIKYO_NEZUMI", loop_kind: SwitchEnd ),

    // These 2 entries are from previous databases, override previous labels
    "*db_item_TRAINING_TICKET": ( after: "*db_item", loop_kind: SwitchEnd ),
    "*db_item_POTION_PLUG": ( after: "*db_item_TRAINING_TICKET", loop_kind: SwitchEnd ),
  },
)
